# Environment files
**/.env
**/.env.local

# Blockchain
packages/blockchain-core/artifacts/
packages/blockchain-core/cache/
packages/blockchain-core/typechain-types/

# Node
node_modules/
npm-debug.log*

# Next.js
.next/

# Lint/Debug Artifacts
*.lint.txt
lint-*.txt
eslint_output.json
tree.txt